.text-dark {
    color: #454545;
}
.main-panel {
    width: 100%;
}
.navbar-nav > li.active {
    color: #ac2925;
    border-bottom: 3px solid #ac2925;
}
[class*="navbar-ct"] .navbar-nav > .active > a:not(.btn),
[class*="navbar-ct"] .navbar-nav > .active > a:hover:not(.btn),
[class*="navbar-ct"] .navbar-nav > .active > a:focus:not(.btn),
[class*="navbar-ct"] .navbar-nav > li > a:hover:not(.btn),
[class*="navbar-ct"] .navbar-nav > li > a:focus:not(.btn) {
    color: #ac2925;
}
.off-canvas-sidebar .nav li > a {
     opacity: 1;
}

@media (max-width: 991px) {
    .off-canvas-sidebar .nav > li > a {
        margin: 0px 0px;
        color: #66615B;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 30px;
    }
    .off-canvas-sidebar .nav > li > a i {
        line-height: 30px;
    }
    .footer .ic-social {
        float: none!important;
        text-align: center;
    }
    .nav-open .navbar .container {
        left: 0;
    }
}

.register-background {
    background-image: none;
    min-height: 0;
}
.register-background .container {
     margin-top: 0;
}
.card-app-primary {
    background-color: #7cd4ee;
}
.card-app-success {
    background-color: #93eaba;
}
.card-app-warning {
    background-color: #f9dda6;
}
.card-app-danger {
    background-color: #f1c1af;
}
.navbar .navbar-nav > li > a i {

}
.image-app {
    background-color: #FF8F5E;
}
.modal-header {
    border-bottom: 1px solid #DDDDDD;
    padding: 20px;
    text-align: center;
}

.modal-content {
    border: 0 none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.modal-dialog {
    padding-top: 60px;
}

.modal-body {
    padding: 20px 50px;
}

.modal-footer {
    border-top: 1px solid #DDDDDD;
    padding: 0px;
}

.modal-footer .left-side, .modal-footer .right-side {
    display: inline-block;
    text-align: center;
    width: 49%;
}

.modal-footer .btn-simple {
    padding: 20px;
    width: 100%;
}

.modal-footer .divider {
    background-color: #DDDDDD;
    display: inline-block;
    float: inherit;
    height: 63px;
    margin: 0px -3px;
    position: absolute;
    width: 1px;
}

.modal.fade .modal-dialog {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}

.modal.in .modal-dialog {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}

.modal-backdrop.in {
    opacity: 0.25;
}
.lightbox .modal-content{
    overflow: hidden;
}
.lightbox .modal-body{
    padding: 0;
}
@media screen and (min-width: 991px){
    .lightbox .modal-dialog{
        width: 960px;
    }
}
.modal-backdrop {
    z-index: 0;
}