.text-dark {
    color: #454545;
}
.main-panel {
    width: 100%;
}
.navbar-nav > li.active {
    color: #ac2925;
    border-bottom: 3px solid #ac2925;
}
[class*="navbar-ct"] .navbar-nav > .active > a:not(.btn),
[class*="navbar-ct"] .navbar-nav > .active > a:hover:not(.btn),
[class*="navbar-ct"] .navbar-nav > .active > a:focus:not(.btn),
[class*="navbar-ct"] .navbar-nav > li > a:hover:not(.btn),
[class*="navbar-ct"] .navbar-nav > li > a:focus:not(.btn) {
    color: #ac2925;
}
.off-canvas-sidebar .nav li > a {
     opacity: 1;
}

@media (max-width: 991px) {
    .off-canvas-sidebar .nav > li > a {
        margin: 0px 0px;
        color: #66615B;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 30px;
    }
    .off-canvas-sidebar .nav > li > a i {
        line-height: 30px;
    }
    .footer .ic-social {
        float: none!important;
        text-align: center;
    }
    .nav-open .navbar .container {
        left: 0;
    }
}

.register-background {
    background-image: none;
    min-height: 0;
}
.register-background .container {
     margin-top: 0;
}
.card-app-primary {
    background-color: #7cd4ee;
}
.card-app-success {
    background-color: #93eaba;
}
.card-app-warning {
    background-color: #f9dda6;
}
.card-app-danger {
    background-color: #f1c1af;
}
.navbar .navbar-nav > li > a i {

}
.image-app {
    background-color: #FF8F5E;
}
.hrr {
    border-color: #a94442;
}
/*.teacher-photo {
    width: 200px;
    height: 200px;
}
@media screen and (max-width: 991px){
    .teacher-photo {
        width: 100px;
        height: 100px;
    }
}*/

.photo-profile .teacher-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    /*margin-right: 5px;*/
}